<app-header></app-header>
<section class="hero-wrap hero-wrap-2 tdb-degree-bg js-fullheight banner" style="background-image: url('assets/images/about-banner.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
        <div class="col-md-9 tdb-animate pb-5 text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
          <h1 class="mb-3 bread">About Us</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="tdb-section tdb-no-pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/images/about-box.jpg);">
            </div>
            <div class="col-md-6 wrap-about py-md-5 tdb-animate">
      <div class="heading-section p-md-5">
        <h2 class="mb-4">Open House Ideas That Actually Get You Leads</h2>

        <p>When most of the agents give up even after spending thousands on advertisements ,we don’t. SO next time when someone says open houses don’t work give them the reasons why they are wrong.A Slydial Broadcast app which we have used lets you leave an automated voicemail without rinking their phone ,its making engagement rates high . All you need is a DNC scrubbed list of contacts and a house to promote! .In order to think outside the box we have talked to several producing agents and got them to give their best open house ideas for 2020.
            </p>
            </div>
            </div>
        </div>
    </div>
</section>


  <section class="tdb-counter img" id="section-counter">
    <div class="container">
        <div class="row">
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap tdb-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text text-border d-flex align-items-center">
            <strong class="number">305</strong>
            <span>Area <br>Population</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap tdb-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text text-border d-flex align-items-center">
            <strong class="number">1090</strong>
            <span>Total <br>Properties</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap tdb-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text text-border d-flex align-items-center">
            <strong class="number">209</strong>
            <span>Average <br>House</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap tdb-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text d-flex align-items-center">
            <strong class="number">67</strong>
            <span>Total <br>Branches</span>
          </div>
        </div>
      </div>
    </div>
    </div>
</section>

<section class="tdb-section testimony-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center heading-section tdb-animate">
            <span class="subheading">Testimonial</span>
          <h2 class="mb-3">Happy Clients</h2>
        </div>
      </div>
      <div class="row tdb-animate">

          <div class="col-md-12">
            <div class="item col-md-4">
              <div class="testimony-wrap  py-4">
                <div class="text">
                  <p class="mb-4">Very amazed of how quick the selling process was. Good coordination, good communication and the staff are knowledgeable and informative.</p>
                  <div class="d-flex align-items-center">
                      <div class="user-img" style="background-image: url(assets/images/person_1.jpg)"></div>
                      <div class="pl-3">
                          <p class="name">Roger Scott</p>
                          <span class="position">Marketing Manager</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="item col-md-4">
              <div class="testimony-wrap  py-4">
                <div class="text">
                  <p class="mb-4">They are amazing! I want to thank everyone for their outstanding support! They made the entire selling experience pleasant even during COVID.</p>
                  <div class="d-flex align-items-center">
                      <div class="user-img" style="background-image: url(assets/images/person_2.jpg)"></div>
                      <div class="pl-3">
                          <p class="name">Roger Scott</p>
                          <span class="position">Marketing Manager</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="item col-md-4">
              <div class="testimony-wrap py-4">
                <div class="text">
                  <p class="mb-4">Working with the deal buzz was a great experience. They handled both buy and sell. They are knowledgeable hence made the whole process stress free.</p>
                  <div class="d-flex align-items-center">
                      <div class="user-img" style="background-image: url(assets/images/person_3.jpg)"></div>
                      <div class="pl-3">
                          <p class="name">Roger Scott</p>
                          <span class="position">Marketing Manager</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
      
          </div>

      </div>
    </div>
  </section>
  <app-footer></app-footer>
