<app-header></app-header>
    <section class="hero-wrap hero-wrap-2 tdb-degree-bg js-fullheight banner" style="background-image: url('assets/images/blog-banner.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 tdb-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
              <h1 class="mb-3 bread">Our Blog</h1>
            </div>
          </div>
        </div>
      </section>
  
          <section class="tdb-section">
        <div class="container">
          <div class="row d-flex">
            <div class="col-md-3 d-flex tdb-animate">
                <div class="blog-entry justify-content-end">
                <div class="text">
                  <h3 class="heading"><a href="#">Run a facebook live stream</a></h3>
                  <div class="meta mb-3">
                    <div><a href="#">July. 24, 2020</a></div>
                    <div><a href="#">Admin</a></div>
                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                  </div>
                  <a href="blog-single.html" class="block-20 img" style="background-image: url('assets/images/image_1.jpg');">
                    </a>
                  <p>What better than live streaming your house instead of working that chaos. Remember people want what others want. </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex tdb-animate">
                <div class="blog-entry justify-content-end">
                <div class="text">
                  <h3 class="heading"><a href="#">Use an Open house Sign</a></h3>
                  <div class="meta mb-3">
                    <div><a href="#">July. 24, 2020</a></div>
                    <div><a href="#">Admin</a></div>
                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                  </div>
                  <a href="blog-single.html" class="block-20 img" style="background-image: url('assets/images/image_2.jpg');">
                    </a>
                  <p>Its better to use sign in app than reading the sloppy handwriting and trying to get it.We have apps which allow agents to sign in easily </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex tdb-animate">
                <div class="blog-entry justify-content-end">
                <div class="text">
                  <h3 class="heading"><a href="#">Focus on features that make </a></h3>
                  <div class="meta mb-3">
                    <div><a href="#">July. 24, 2020</a></div>
                    <div><a href="#">Admin</a></div>
                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                  </div>
                  <a href="blog-single.html" class="block-20 img" style="background-image: url('assets/images/image_3.jpg');">
                    </a>
                  <p>Doing homework is necessary and you should have atleast 3 features that others don’t. Large bedrooms for example? High ceilings? </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex tdb-animate">
                <div class="blog-entry justify-content-end">
                <div class="text">
                  <h3 class="heading"><a href="#">Invite neighbours</a></h3>
                  <div class="meta mb-3">
                    <div><a href="#">July. 24, 2020</a></div>
                    <div><a href="#">Admin</a></div>
                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                  </div>
                  <a href="blog-single.html" class="block-20 img" style="background-image: url('assets/images/image_4.jpg');">
                    </a>
                  <p>Many will be moving soon and its better to have relatives and friends in the same neighbourhood. </p>
                </div>
              </div>
            </div>
  
            <div class="col-md-3 d-flex tdb-animate">
                <div class="blog-entry justify-content-end">
                <div class="text">
                  <h3 class="heading"><a href="#">Promote your open house </a></h3>
                  <div class="meta mb-3">
                    <div><a href="#">July. 24, 2020</a></div>
                    <div><a href="#">Admin</a></div>
                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                  </div>
                  <a href="blog-single.html" class="block-20 img" style="background-image: url('assets/images/image_5.jpg');">
                    </a>
                  <p>There are way more people on Instagram than there are on facebook ,think of a querky way to tell people</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex tdb-animate">
                <div class="blog-entry justify-content-end">
                <div class="text">
                  <h3 class="heading"><a href="#">Create affordable virtual tour</a></h3>
                  <div class="meta mb-3">
                    <div><a href="#">July. 24, 2020</a></div>
                    <div><a href="#">Admin</a></div>
                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                  </div>
                  <a href="blog-single.html" class="block-20 img" style="background-image: url('assets/images/image_6.jpg');">
                    </a>
                  <p>Few years ago,virtual tours were damn expensive , You needed a 10000$ camera and 100$/month </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex tdb-animate">
                <div class="blog-entry justify-content-end">
                <div class="text">
                  <h3 class="heading"><a href="#">Give Guests Floor plans,FAQ</a></h3>
                  <div class="meta mb-3">
                    <div><a href="#">July. 24, 2019</a></div>
                    <div><a href="#">Admin</a></div>
                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                  </div>
                  <a href="blog-single.html" class="block-20 img" style="background-image: url('assets/images/image_7.jpg');">
                    </a>
                  <p>Give them frequently asked questions so if they knew to the business of buying they know what to expect from a particular agent</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex tdb-animate">
                <div class="blog-entry justify-content-end">
                <div class="text">
                  <h3 class="heading"><a href="#">Schedule your open house</a></h3>
                  <div class="meta mb-3">
                    <div><a href="#">July. 24, 2019</a></div>
                    <div><a href="#">Admin</a></div>
                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                  </div>
                  <a href="blog-single.html" class="block-20 img" style="background-image: url('assets/images/image_8.jpg');">
                    </a>
                  <p>Being unconventional,against the grain has served business well, If you know the off hours ,you should probably avoid them. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col text-center">
              <div class="block-27">
                <ul>
                  <li><a href="#">&lt;</a></li>
                  <li class="active"><span>1</span></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&gt;</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <app-footer></app-footer>
