<footer class="tdb-footer tdb-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="tdb-footer-widget mb-4">
            <h2 class="tdb-heading-2">TheDealBuzz</h2>
            <p>TheDealBuzz is a real estate marketplace serving the Canada. We are helping home buyers find the right home, sellers find the right buyer, and agents & brokers get the online exposure they need to efficiently advertise properties.</p>
            <ul class="tdb-footer-social list-unstyled mt-5">
                <li class="tdb-animate"><a href="https://twitter.com/" target="_blank"><span class="fa fa-twitter"></span></a></li>
                <li class="tdb-animate"><a href="https://www.facebook.com/" target="_blank"><span class="fa fa-facebook-f"></span></a></li>
                <li class="tdb-animate"><a href="https://www.instagram.com/" target="_blank"><span class="fa fa-instagram"></span></a></li>
              
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="tdb-footer-widget mb-4 ml-md-4">
            <h2 class="tdb-heading-2">Listing</h2>
            <ul class="list-unstyled">
              <li><a [routerLink]="['/productlist']" routerLinkActive="active"><span class="fa fa-arrow-circle-right mr-2"></span>Properties</a></li>
              <li><a [routerLink]="['/product-details']" routerLinkActive="active"><span class="fa fa-arrow-circle-right mr-2"></span>Property Listing</a></li>
              <li><a [routerLink]="['/services']" routerLinkActive="active"><span class="fa fa-arrow-circle-right mr-2"></span>Services</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="tdb-footer-widget mb-4">
            <h2 class="tdb-heading-2">Company</h2>
            <ul class="list-unstyled">
              <li><a [routerLink]="['/about']" routerLinkActive="active"><span class="fa fa-arrow-circle-right mr-2"></span>About Us</a></li>
              <li><a [routerLink]="['/contact']" routerLinkActive="active"><span class="fa fa-arrow-circle-right mr-2"></span>Contact</a></li>
              <li><a [routerLink]="['/blog']" routerLinkActive="active"><span class="fa fa-arrow-circle-right mr-2"></span>Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="tdb-footer-widget mb-4">
              <h2 class="tdb-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="fa fa-map-marker"></span><span class="text">1325  Eglinton Avenue, Toronto, Ontario, M4P 1A6</span></li>
                  <li><a href="tel:416-454-0989"><span class="fa fa-phone"></span><span class="text">416-454-0989</span></a></li>
                  <li><a href="mailto: info@thedealbuzz.com"><span class="fa fa-envelope pr-4"></span><span class="text">info@thedealbuzz.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart color-danger" aria-hidden="true"></i> <a href="#" target="_blank"> TheDealBuzz</a>

        </div>
      </div>
    </div>
  </footer>